<header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-center">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
                <strong>{{monTitre}}</strong>
            </a>
        </div>
    </div>
</header>
<main role="main">
    <section class="py-e text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">{{monIntroduction}}</h1>
                <p class="lead text-muted">{{maPhraseAccroche}}</p>
                <div class="input-groupe my-3">
                    <input type="text" class="form-control" id="numDepartement" placeholder="Saisissez un numéro de département" [formControl]="champSaisi">
                    <span class="input-group-btn">
        <button (click)="afficherChampSaisi()" [disabled]="booleanCondition" id="btnCodeDepart" class="btn btn-danger">Go !</button>
        </span>
                </div>
                <div *ngIf="isAvailable" id="nbbrenreg">Il y a <b>{{nbEnregistrements}}</b> commune(s) dans le département de votre choix.</div>
                <div class="form-group">
                    <select id="nomCommune" class="form-control" [formControl]="champValid">
            <option *ngFor="let commune of communes" [ngValue]="commune" value="{{commune}}">{{commune}}</option>
        </select>
                </div>
            </div>
        </div>
        <p>
            <a (click)="valider()" class="btn btn-warning my-2">Valider</a>
        </p>
    </section>
    <div *ngIf="isAvailable2" id="infos" class="container">
        <section class="d-flex flex-wrap justify-content-around">
            <article id="infosCommune">
                <ul>
                    <li>commune : <span>{{objCommune.city}}</span></li>
                    <li>Code Postal : <span>{{objCommune.postcode}}</span></li>
                    <li>Population : <span>{{objCommune.population}}</span> Péons</li>
                    <li>Longitude : <span>{{objGeoCoord.long}}</span></li>
                    <li>Latitude: <span>{{objGeoCoord.lat}}</span></li>
                </ul>
            </article>
            <article>
                <div id="map"></div>
            </article>
        </section>
    </div>
</main>
<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Retour en haut</a> Un Tp Angular qui nous casse bien les angles.
        </p>
    </div>
</footer>